body {
  font-family: "Raleway", sans-serif;
  font-weight: 500; }

.container {
  text-align: center; }

.container {
  display: grid;
  grid-template-columns: 1fr; }

header {
  background-color: #F68B1F; }
  header h1 {
    color: white;
    font-size: 3.15rem; }
  header img {
    max-width: 7rem;
    margin-bottom: 2rem; }

main {
  background-color: #048BA8;
  min-height: 45vh; }
  main button {
    margin: 1rem; }
  main .main__subtitle {
    color: white;
    font-size: 1.33rem; }
  main .meal-plan-input {
    padding: 1rem; }
    main .meal-plan-input p {
      color: white;
      font-size: 1.33rem;
      margin: 2rem auto; }
    main .meal-plan-input button {
      display: block;
      margin: 1rem auto; }
    main .meal-plan-input #meal-qty-slider {
      margin: 2rem auto;
      width: 15rem; }
    main .meal-plan-input input[type=range] {
      appearance: none;
      -webkit-appearance: none;
      background: #F68B1F;
      height: 5px;
      border-radius: 10px; }
    main .meal-plan-input #meal-slider-readout {
      font-size: 1.77rem;
      color: white;
      display: block; }
  main .search-form .fa-search {
    margin: 1rem; }
  main .search-form input {
    width: 18rem;
    height: 2rem;
    margin: 2rem 0 .4rem 0;
    border-radius: 4px; }
  main .search-form input[type="text"] {
    font-size: 1.33rem;
    background-color: #F68B1F;
    color: #36382E;
    border: none;
    padding-left: 2.4rem;
    background-image: url("../images/search-solid.svg");
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-size: 1.5rem; }
  main .search-form small {
    display: block;
    margin-bottom: 2rem;
    color: white;
    font-size: 0.75rem; }
  main .search-form button {
    display: block;
    margin: 1rem auto; }
  main .add-meal-form input {
    width: 18rem;
    height: 2rem;
    margin: 1rem auto;
    border-radius: 4px;
    display: block; }
  main .add-meal-form input[type="text"] {
    font-size: 1.33rem;
    background-color: #F68B1F;
    color: #36382E;
    border: none;
    padding-left: 2.4rem;
    background-image: url("../images/search-solid.svg");
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-size: 1.5rem; }
  main #meal-data .card {
    max-width: 22rem;
    margin: 1rem auto; }
    main #meal-data .card .card-title {
      cursor: pointer;
      margin: .5rem; }
    main #meal-data .card .arrow {
      display: block;
      font-size: 1.77rem;
      cursor: pointer; }
  main #recipe-data .card {
    max-width: 22rem;
    margin: 1rem auto; }
    main #recipe-data .card .card-title {
      cursor: pointer;
      margin: .5rem; }
    main #recipe-data .card .arrow {
      display: block;
      font-size: 1.77rem;
      cursor: pointer; }
    main #recipe-data .card p {
      margin: .5rem auto; }
    main #recipe-data .card a {
      font-size: 1.33rem;
      color: #F68B1F; }
      main #recipe-data .card a:hover {
        color: white; }

footer {
  background-color: #36382E;
  min-height: 20vh; }
  footer .footer__title {
    margin-top: 3rem; }
  footer p {
    color: white;
    margin: 0; }
  footer a {
    color: #F68B1F; }
    footer a:hover {
      color: white; }

.btn {
  width: auto;
  text-transform: uppercase;
  background-color: #F68B1F;
  color: #36382E;
  padding: .5rem;
  border-radius: 4px;
  border: none;
  min-height: 3rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer; }

.clear-btn {
  width: auto;
  text-transform: uppercase;
  background-color: #36382E;
  color: white;
  padding: .5rem;
  border-radius: 4px;
  border: none;
  min-height: 3rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer; }

.card {
  background-color: #36382E;
  color: white;
  border-radius: 4px;
  padding: .5rem; }
  .card .card-title {
    font-size: 2.36rem; }

/*# sourceMappingURL=styles.css.map */
