//==================================
// Colors
//==================================
$color-primary: #F68B1F;
$color-secondary: #048BA8;
$color-neutral: #36382E;

//==================================
// Typography
//==================================
$fontsize-small: .75rem;
$fontsize-base: 1rem;
$fontsize-1: 1.33rem;
$fontsize-2: 1.77rem;
$fontsize-3: 2.36rem;
$fontsize-4: 3.15rem;
$fontsize-5: 4.20rem;
$fontsize-6: 5.61rem;

//==================================
// Typeface
//==================================
$typeface: 'Raleway', sans-serif;

//==================================
// Global
//==================================
body {
    font-family: $typeface;
    font-weight: 500;
}
.container { 
    text-align: center;
}
//==================================
// Grid
//==================================
.container {
    display: grid;
    grid-template-columns: 1fr;
}


//==================================
// Header Row
//==================================
header {
    background-color: $color-primary;
    h1 { color: white; font-size: $fontsize-4; }
    img { max-width: 7rem; margin-bottom: 2rem; }
}

//==================================
// Main
//==================================
main {
    background-color: $color-secondary;
    min-height: 45vh;
    button { margin: 1rem; }
    .main__subtitle { color: white; font-size: $fontsize-1; }
    .meal-plan-input {
        button { display: block; margin: 1rem auto; }
    }
    .search-form {
        .fa-search { margin: 1rem; }
        input { width: 18rem; height: 2rem; margin: 2rem 0 .4rem 0; border-radius: 4px; }
        input[type="text"] { font-size: $fontsize-1; background-color: $color-primary; color: $color-neutral; border: none; padding-left: 2.4rem; background-image: url("../images/search-solid.svg"); background-position: 5px 5px; background-repeat: no-repeat; background-size: 1.5rem; }
        small { display: block; margin-bottom: 2rem; color: white; font-size: $fontsize-small; }
        button { display: block; margin: 1rem auto; }
    }
    #meal-data {
        .card { max-width: 22rem; margin: 1rem auto; }
    }
}


//==================================
// Footer
//==================================
footer {
    background-color: $color-neutral;
    min-height: 20vh; 
    .footer__title { margin-top: 3rem; }
    p { color: white; margin: 0; }
    a { 
        color: $color-primary; 
        &:hover { color: white; }
    }
}


//==================================
// Import Modules
//==================================
@import "_modules";