//==================================
// Colors
//==================================
$color-primary: #F68B1F;
$color-secondary: #048BA8;
$color-neutral: #36382E;

//==================================
// Typography
//==================================
$fontsize-small: .75rem;
$fontsize-base: 1rem;
$fontsize-1: 1.33rem;
$fontsize-2: 1.77rem;
$fontsize-3: 2.36rem;
$fontsize-4: 3.15rem;
$fontsize-5: 4.20rem;
$fontsize-6: 5.61rem;

//==================================
// Typeface
//==================================
$typeface: 'Raleway', sans-serif;

//==================================
// Global
//==================================
body {
    font-family: $typeface;
    font-weight: 500;
}

//==================================
// Header Row
//==================================
section.row.header {
    text-align: center;
    background-color: $color-primary;
    h1 { color: white; margin: 2rem 0 1rem 0; font-weight: 800; font-size: $fontsize-4; }
    img { width: 9rem; margin: 1rem 0; }
}

//==================================
// Input Row
//==================================
section.row.input {
    text-align: center;
    background-color: $color-secondary;
    p { margin: 2rem 0; color: white; font-size: $fontsize-1; }
    button { margin: 0 1rem 2rem 1rem; background-color: $color-primary; color: $color-neutral; font-weight: 700; }
}

//==================================
// Output Row
//==================================
section.row.output {
    background-color: $color-primary;
    min-height: 30vh;
    text-align: center;
    div#meal-data {
        padding: 3rem 0;
        margin: 3rem auto;
        width: 50%;
        p { color: white; font-size: $fontsize-1; }
    }
}

//==================================
// Footer
//==================================
section.row.footer {
    background-color: $color-neutral;
    min-height: 15vh;
    footer { padding: 1rem 0; }
    p { color: white; margin: 0; text-align: center; }
    a { 
        color: $color-primary;
        &:hover { color: #EA3546; } 
    }
}