<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MP 2.0 | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/images/peach-37629_640.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,500i,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/styles.css"/>
</head>
<body>

    <div id="app" class="container"> <!-- container start -->

        
        <header>
                <h1>Meal Planner 2.0</h1>
                <img src="assets/images/peach-37629_640.png" alt="Graphic of a peach.">
        </header>
        

        
            
        <main>

                <section id="buttons">
                    <p class="main__subtitle">What would you like to do?</p>
                    <button @click="empty(); viewAllMeals();" class="view-all btn">View All Meals</button>
                    <button class="get-plan btn">Get Meal Plan</button>
                    <button v-on:click="displaySearch = true" class="find-new-recipes btn">Find New Recipes</button>
                </section>

                <section class="search-form" v-show="displaySearch">

                    <form>
                        <label for="recipe-search-input">Search for Recipes</label>
                        <input id="recipe-search-input" type="text">
                    </form>

                    <small>ex. "Mexican Chicken", "Greek Salad", "Fish", etc.</small>
                    <button id="recipe-search-btn" class="btn" type="submit">Get Recipes</button>
                    <button v-on:click="displaySearch = false" class="btn">Go Back</button>

                </section>

            
                <div id="meal-data">
                    <p v-for="meal in meal_names">{{ meal }}</p>
                </div>
            
                <div id="recipe-data">
                </div>

        </main>

        
            
        <footer>
            <p class="footer__title">Meal Planner 2.0 <a href="https://github.com/mathewbishop/meal_planner_app">GitHub Repo</a></p>
            <p>See more from <a href="https://github.com/mathewbishop">Mathew Bishop</a></p>
            <p>Styles and UI contributions from <a href="https://github.com/Landar40">Landar40</a></p>
        </footer>

            
        
        
    </div> <!-- container end -->

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/scripts.js"></script>
</body>
</html>