include includes/header.pug

div(class="container")
    section(id="mealsList")
        div(class="mealCard")
            p(class="mealCardTitle") Enchiladas
            p(class="mealCardCategory") Category: Mexican
            p(class="mealCardProtein") Protein: Chicken