include includes/header.pug

section(id="mealsContainer")
    div(class="mealCard")
        p(class="mealCardTitle") Enchiladas
        p(class="mealCardCategory") Mexican
        p(class="mealCardProtein") Chicken