<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MP 2.0 | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/images/peach-37629_640.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,500i,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/styles.css"/>
</head>

<body>

    <div class="container"> <!-- container start -->

        
        <header>
                <h1>Meal Planner 2.0</h1>
                <img src="assets/images/peach-37629_640.png" alt="Graphic of a peach.">
        </header>
            
        <main id="app">

                <!-- MAIN OPTIONS LIST -->
                <section v-show="showMenu">
                    <p class="main__subtitle">What would you like to do?</p>
                    <!-- VIEW ALL -->
                    <button @click="viewAllMeals()" class="view-all btn">View All Meals</button>
                    <!-- GET MEAL PLAN -->
                    <button @click="toggleMealInput(); showSearch = false; showMenu = false" class="btn">Get Meal Plan</button>
                    <!-- FIND RECIPES -->
                    <button @click="toggleSearch(); showMealInput = false; showMenu = false" class="find-new-recipes btn">Find New Recipes</button>
                </section>

                <!-- MEAL PLAN FORM/INPUT -->
                <section class="meal-plan-input" v-show="showMealInput">
                    <div>
                        <p>Adjust the slider to choose the number of meals to return.</p>
                        <output id="meal-slider-readout" for="meal-qty-slider">{{ sliderValue }}</output>
                        <input v-model="sliderValue" type="range" id="meal-qty-slider" min="1" max="31" value="1">

                        <button @click="getPlan()" class="btn">Get Meals</button>
                        <button @click="toggleMealInput(); showMenu = true" class="btn">Back</button>
                        <button @click="empty()" class="clear-btn">Clear All</button>
                    </div>

                </section>

                <!-- RECIPE SEARCH FORM -->
                <section class="search-form" v-show="showSearch">
                    <form>
                        <input id="recipe-search-input" type="text" placeholder="Search...">
                    </form>
                    <small>ex. "Mexican Chicken", "Greek Salad", "Fish", etc.</small>
                    
                    <button @click="searchRecipes()" class="btn" type="submit">Get Recipes</button>
                    <button @click="toggleSearch(); showMenu = true" class="btn">Back</button>
                    <button @click="empty()" class="clear-btn">Clear All</button>
                </section>

                <!-- MEAL DATA OUTPUT -->
                <section v-if="meals.length > 0" id="meal-data">
                    <div v-for="meal in meals" class="card">
                        <h1 @click="showMealDetail = !showMealDetail" class="card-title" class="card-title">{{ meal.meal_name }}</h1>
                        <i v-if="!showMealDetail" @click="showMealDetail = !showMealDetail" class="arrow fas fa-caret-up"></i><i v-if="showMealDetail" @click="showMealDetail = !showMealDetail" class="arrow fas fa-caret-down"></i>
                        <div v-show="showMealDetail">
                            <p>Category: {{ meal.category }}</p>
                            <p>Protein: {{ meal.sub_category }}</p>
                            <p>Estimated Cost: $ {{ meal.avg_price }}</p>
                        </div>
                    </div>

                        <!-- GROCERY BILL -->
                        <div v-if="meals.length > 0" class="card">
                            <p>Estimated Grocery Bill: $ {{ groceryBill }}</p>
                        </div>
                </section>
            
                <!-- RECIPE DATA OUTPUT -->
                <section v-if="recipeSearchResults.length > 0" id="recipe-data">
                    <div v-for="recipe in recipeSearchResults" class="card">
                        <img :src="recipe.image" alt="">
                        <p class="card-title">{{ recipe.label }}</p>
                        <p><a :href="recipe.url">View Recipe</a></p>
                    </div>
                </section>

        </main>

        <footer>
            <p class="footer__title">Meal Planner 2.0 <a href="https://github.com/mathewbishop/meal_planner_app">GitHub Repo</a></p>
            <p>See more from <a href="https://github.com/mathewbishop">Mathew Bishop</a></p>
            <p>Colors and style contributions contributions from <a href="https://github.com/Landar40">Landar40</a></p>
        </footer>

        
    </div> <!-- container end -->

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/scripts.js"></script>
</body>
</html>